.Process {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 500px;
}

.Points {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 500px;
    align-items: flex-end;

}

.bigBox {
    width: 90%;
    height: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: none;
}

.smallBox {
    width: 90%;
    height: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

button {
    width:fit-content;
    padding: 10px;
    height: 8%;
}

.Header {
    text-align: center;
}
